@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.card {
  &__content {
    @include  flex-all-sb;
  }

  &__img {
    margin-right: clamp(16px, 4vw, 48px);
  }

  &__texts {
    p:not(:last-of-type) {
      margin-bottom: clamp(24px, 5vw, 64px);
    }
  }
}