@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  padding: 0;

  &__inner {
    @include cover-background;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: rem(60) 0;
    min-height: 900px;
    height: 100%;
    background-position: center bottom;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 900px;
    width: 100%;
  }

  h1 {
    margin-bottom: 24px;
  }

  &--full {
    .hero__content {
      margin-inline: auto;
      text-align: center;
      color: var(--color-green-700);
    }
  }

  &--half {
    .hero__inner {
      background-size: contain;
      background-position: center right;
    }
  }

  &--btn {
    .subtitle {
      margin-bottom: clamp(24px, 4vw, 48px);
    }
  }

  &--product {
    h1 {
      width: min-content;
    }
  }

  &--post {
    .hero__content {
      max-width: 499px;
      width: 100%;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  @include media(tablet-wide) {
    .hero__inner {
      min-height: 500px;
    }
  }

  @include media(tablet) {
    &--half {
      .hero__content {
        width: 40%;
      }
    }

    &--product {
      h1 {
        width: 100%;
      }
    }
  }

  @include media(mobile-l) {
    .hero__inner {
      min-height: 350px;
    }

    &--half {
      .hero__content {
        width: 100%;
      }

      .hero__inner {
        background-size: cover;
      }

      .hero__content {
        text-align: center;
      }
    }
  }
}