@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.text {
  &__title {
    margin-bottom: clamp(24px, 4vw, 56px);
  }

  h3 {
    margin-bottom: 16px;
  }

  &__accent {
    line-height: 1.4;
    font-style: italic;
  }

  &__items--decorated {
    counter-reset: num;

    .text__item {
      &:not(:last-of-type) {
        margin-bottom: clamp(24px, 4vw, 56px);
        padding-bottom: clamp(24px, 4vw, 47px);
        border-bottom: 2px solid var(--color-green-700);
      }
    }

    .text__content {
      position: relative;
      padding-inline: 274px 0;

      &--reverse {
        padding-inline: 0 274px;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        content: "0" counter(num);
        counter-increment: num;
        font-size: clamp(32px, 5vw, 64px);
        line-height: 1;
        font-weight: var(--fw-500);
        color: var(--color-green-700);
        left: 0;
      }

      &--reverse::before {
        right: 144px;
        left: unset;
      }

      &::after {
        content: "";
        width: 120px;
        height: 64px;
        background-color: var(--color-white);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: var(--radius-l);
        left: 90px;
      }

      &--reverse::after {
        right: 0;
        left: unset;
      }

      &--selection::after {
        background-image: url("../images/icons/selection-icon.svg");
      }

      &--reservation::after {
        background-image: url("../images/icons/reservation-icon.svg");
      }

      &--confirmation::after {
        background-image: url("../images/icons/order-icon.svg");
      }

      &--payment::after {
        background-image: url("../images/icons/payment-icon.svg");
      }

      &--pickup::after {
        background-image: url("../images/icons/pickup-icon.svg");
      }

      &--use::after {
        background-image: url("../images/icons/use-icon.svg");
      }

      &--return::after {
        background-image: url("../images/icons/return-icon.svg");
      }
    }
  }

  &__items--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(24px, 4.5vw, 56px);

    h3 {
      margin-bottom: 24px;
    }
  }

  &--post {
    position: relative;
    max-width: 1440px;
    margin-inline: auto;
    padding: rem(86) 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 35%;
      background-size: cover;
      background-position: -10px 100px;
      background-image: url("../images/blog/post-decor.png");
      z-index: -1;
    }

    .text__info {
      max-width: 700px;
      width: 100%;
      counter-reset: num;

      & > *:not(.subtitle, :last-child) {
        margin-bottom: clamp(24px, 3vw, 36px);
      }

      .subtitle {
        margin-bottom: 16px;
      }

      ul,
      ol {
        padding-left: clamp(16px, 3vw, 24px);
      }

      li {
        display: list-item;
        padding-left: 8px;
      }

      ul li {
        list-style: disc;
      }

      ol li {
        list-style: auto;
      }
    }
  }

  @include media(tablet) {
    &__items--decorated {
      .text__content {
        padding-inline: 170px 0;

        &--reverse {
          padding-inline: 0 170px;
        }

        &--reverse::before {
          right: 95px;
        }

        &::after {
          width: 75px;
          height: 50px;
          background-size: 50%;
          left: 70px;
        }

        &--reverse::after {
          left: unset;
        }
      }
    }

    &--post {
      padding: rem(40) 0 0;

      &::before {
        width: 100%;
        background-position: center;
        background-repeat: space;
        background-size: auto;
        left: 0;
        right: 0;
      }
    }
  }

  @include media(mobile-l) {
    &__items--decorated {
      .text__content {
        padding-inline: 0;
        padding-block: 60px 0;

        &--reverse {
          padding-inline: 0;
        }

        &::before,
        &::after {
          top: 0;
          transform: translateY(0%);
        }

        &::before {
          top: 4px;
        }

        &::after {
          width: 60px;
          height: 40px;
          left: 50px;
        }

        &--reverse::before {
          right: 75px;
        }

        &--reverse::after {
          right: 0;
          left: unset;
        }
      }
    }

    &__items--grid {
      grid-template-columns: 1fr;
    }
  }

  @include media(mobile-s) {
    &__items--decorated {
      .text__content {
        &::after {
          left: 40px;
        }

        &::before {
          top: 6px;
        }

        &--reverse::before,
        &--reverse::after {
          right: unset;
        }

        &--reverse::before {
          left: 0;
        }
      }
    }
  }
}